
.app-container {
    text-align: center;
  }
  
  .search-container {
    margin: 20px auto;
  }
  
  .search-input {
    padding: 8px;
    font-size: 16px;
  }
  
  .search-button {
    padding: 8px 16px;
    font-size: 16px;
  }
  
  .search-results-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .search-result {
    margin: 20px;
    text-align: center;
  }
  
  .book-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  